import { AxiosError } from "axios";

export type SuccessResponse<T = any> = {
  status: "ok";
  data: T;
};

export type ErrorResponse = {
  status: "error";
  message: string;
};

export type AnyResponse<T = any> = SuccessResponse<T> | ErrorResponse;

export function extractSuccessResponse(response: AnyResponse) {
  if (response.status !== "ok") {
    throw new Error(response.message);
  }

  return response.data;
}

export function extractError(error: unknown) {
  if (error instanceof AxiosError) {
    if (error.response) {
      return extractSuccessResponse(error.response.data);
    } else {
      throw new Error(error.message);
    }
  }
  throw error;
}
