# Service Configurations
[service]
url = "https://api.example.com"

[dev.service]
url = "http://localhost:{{port}}"

{{#tags}}
[endpoints.{{tagName}}]
{{#endpoints}}
{{functionName}} = "{{{url}}}"
{{/endpoints}}

{{/tags}}