{
  "name": "{{{packageName}}}",
  "version": "{{packageVersion}}",
  "private": false,
  "main": "./dist/index.js",
  "module": "./dist/index.mjs",
  "types": "./dist/index.d.ts",
  "sideEffects": false,
  "files": [
    "dist/**"
  ],
  "scripts": {
    "build": "{{#isUseTsup}}tsup{{/isUseTsup}}{{^isUseTsup}}tsc{{/isUseTsup}}",
    "typecheck": "tsc --noEmit --noErrorTruncation --pretty"
  },
  "dependencies": {
    "@iarna/toml": "^2.2.5",
    "axios": "^1.5.1",
    "node": "^18"
  },
  "devDependencies": {
    "@types/node": "^18",
    "typescript": "4.9.4"
  }
}
